/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Inline&family=Noto+Serif&family=Quicksand&display=swap');
/* end of general style */
:root
{
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-lignt: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-danger-1: #f53645;

  --card-border-radius: 4px;
  --card-radius-1: 0.4rem;
  --card-radius-2: 0.8rem;
  --card-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

}
*
{
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  text-decoration: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}
html
{
  font-size: 14px;
}
body
{
  width: 100vw;
  height: 100vh;
  font-family: popins, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  /*user-select: none;*/
  overflow-x: hidden;

}
.container
{
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;

}
a
{
  color: var(--color-dark);
}
img
{
  display: block;
  width: 100%;
}
h1
{
  font-weight: 800;
  font-size: 1.8rem;
}
h2
{
  font-size: 1.4rem;
}
h3
{
  font-size: 0.87rem;
}
h4
{
  font-size: 0.8rem;
}
h5
{
  font-size: 0.77rem;
}
h6
{
  font-size: 0.7rem;
}
small
{
  font-size: 0.75rem;
}
.profile-photo
{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted
{
  color: var(--color-info-dark);
}
p
{
  color: var(--color-dark-variant);
}
b
{
  color: var(--color-dark);
}
.primary
{
  color: var(--color-primary);
}
.danger
{
  color: var(--color-danger);
}
.success
{
  color: var(--color-success);
}
.warning
{
  color: var(--color-warning);
}
.danger-1
{
  color: var(--color-danger-1);
}
fa-icon {
  cursor: pointer;
}
aside
{
  height: 100vh;
}
aside .sidebar
{
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
}

aside .sidebar a.active
{
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
  border-radius: var(--card-radius-1);
}
/*aside .sidebar a.active:before*/
/*{*/
/*  content: '';*/
/*  width: 6px;*/
/*  height: 100%;*/
/*  background-color: var(--color-primary);*/
/*}*/
/* end of general style */

body {
  font-family: 'Quicksand', 'Roboto Serif', serif;
  /* font-family: 'Libre Franklin', sans-serif */
  /*background-color: #F2F2F2;*/
  /* background-color: #eaeaea; */
}

.header
{
  display: flex;
  justify-content: space-between;
  padding: 5px 60px;
  transition: .05s;
  background-color: var(--color-light);
  color: var(--color-dark);
  /* border-bottom: 1px solid #314e53; */
  box-shadow: none/* 0 0px 5px #314e53;*/
}


.header .nav
{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0px;

}
.header .nav p {
  font-size: 1.1em;
  padding: 5px;
  border-radius: 4px;
  color: var(--color-dark);
}
.active {
  /*background: rgba(0,0,0, .2);*/
  font-weight: bold !important;
  color: var(--color-primary) !important;
}
.header .nav p a {
  color: var(--color-dark);
  text-align: center;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  /*padding-top: 50px;*/
}
.container .box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 450px;
  min-height: 550px;
  padding: 40px;
  background-color: #d0d0d0;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  margin-top: 30px;
  box-shadow: var(--box-shadow);
  flex-direction: column;
}

.container .form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container .form h2 {
  /* margin: 40px; */
  color:rgba(0, 0, 0, 0.7);
  text-align: center;
}

.container .form .inputBox
{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  font-size: .9rem;
}
.container .form .inputBox input, .inputBox input
{
  padding: 15px 5px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
}
.container .form .inputBox span
{
  position: absolute;
  left: 0;
  color: rgba(0, 0, 0, 0.25);
  padding: 15px 5px 10px;
  pointer-events: none;
  transition: 0.5s;
}
.container .form.signup .inputBox span
{
  position: absolute;
  left: 0;
  padding: 15px 5px 10px;
  pointer-events: none;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.9);
  transform: translateX(0px) translateY(-100%);
}
.container .form .inputBox input:active ~ span,
.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span
{
  color: rgba(0, 0, 0, 0.9);
  /* top: -100%; */
  transform: translateX(0px) translateY(-100%);
}

.container .form .links {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px;
  margin-top: 20px; */
}
.container .form .links a {
  text-decoration: none;
  margin: 10px 0;
  font-size: 0.9em;
  color: #243a3e;
}
.container .form .links a:hover,
.container .form .links a:nth-child(2)
{
  color: var(--color-primary);
}

.container .form input[type="submit"]
{
  color: #d0d0d0;
  border-radius: 4px;
  border: 1px solid #243a3e;
  background-color: rgba(36, 38, 62, 0.9);
  cursor: pointer;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 0.01cm;
}
.container .form input[type="submit"]:hover
{
  letter-spacing: 0.02cm;
}
.container .form input[type="submit"]:active {
  opacity: 0.7;
}

.container .signup .form .row50
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

#message {
  display: none;
  color: var(--color-danger);
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 4px;
  height: 30px;
  padding-top: 5px;
  transition: 0.5s;
  width: 100%;

}
#registered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 450px;
  padding: 40px;
  background-color: #d0d0d0;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: var(--box-shadow);
}
#registered p, #registered a{
  color: rgb(13, 55, 13);
}
#registered a {
  display: inline-block;
  text-decoration: none;
  background-color: #314e53;
  height: 40px;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}
.profile {
  display: flex;
  justify-content: center;
  margin: 40px auto auto 15px;
}
.profile .aside {
  display: flex;
  flex-direction: column;
  min-width: 210px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  background-color: #d0d0d0;
  padding-top: 25px;
}
#profile-card {
  display: flex;
  box-shadow: var(--box-shadow);
  height: 85vh;
  margin-right: 15px;
  margin-left: 15px;
  width: 70%;
  border-radius: 4px;
  background-color: #d0d0d0;
}
.icon-log {
  /*margin-top: 10px !important;*/
  color: #243a3e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-log i {
  cursor: pointer;
}
#profile.profile .profile-info {
  padding: 20px;
}
#profile.profile .aside .row {
  display: flex;
  gap: 10px;
  padding: 10px 10px 15px;
  color: #243a3e;
}
#profile.profile .profile-info{
  padding: var(--card-padding);
}
.profile-info {
}
.profile-info p{
  margin-bottom: 20px;
  font-size: 1rem;
  color: #243a3e;
}
.profile-info p span {
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 10px;

}
.fa.fa-pencil {
  margin-left: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}
.fa.fa-pencil:hover {
  font-size: 1rem;
  color: green;
}
.inputBoxUpdate {
  margin-top: -10px;
  margin-bottom: 10px;
  position: relative;
  /* display: none; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 0;
}
.inputBoxUpdate input {
  padding: 10px;
  outline: none;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 260px;
}
.inputBoxUpdate span {
  background-color: #314e53;
  color: #bababb;
  height: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  padding: 7px 10px 10px;
  cursor: pointer;
}
#updateAddress, #updateEmail{
  /*display: none;*/
}
.aside .row {
  cursor: pointer;
}
.aside .row:hover {
  background-color: rgb(62, 84, 87, 0.4);
  border-radius: 4px;
}

.produits {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 20px;
  width: 90vw;
  position: relative;
  /*grid-template-columns: 20% 80%;*/
}
.produits .sidebar {
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  background: var(--color-white);
  border-radius: var(--card-radius-1);
  transition: all ease-in .5s;
  max-height: 100vh;
  padding: var(--padding-1);
}
.produits .sidebar li {
  border-radius: 4px;
  margin-bottom: .50rem;
  cursor: pointer;
}
.produits .sidebar  a {
  display: block;
  line-height: 50px;
  margin-left: 10px;
}
.produits .sidebar li:first-child
{
  background-color: var(--color-light);
}
.produits .sidebar li:hover{
  background-color: var(--color-light);
}


.produits .produits-cards {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-white);
  justify-content: space-evenly;
  padding: var(--padding-1);
  width: calc(80% - 200px);
  gap: 10px;
}

.produits .produits-cards .card
{
  /*background-color: rgba(208, 208, 208, .5);*/
  width: 260px;
  height: 360px;
  border-radius: 4px;
  border: 0.2px solid #e6e6e6;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  overflow: hidden;

}
.produits .produits-cards .card:hover {
  box-shadow: none;
}

.produits .produits-cards .card .detail {
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  height: 40%;
}

.produits .produits-cards .card .detail .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.produits .produits-cards .card .detail .title h5 {
  font-size: 1rem;
  color: #314e53;
}
.produits .produits-cards .card .detail .card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top: 10px;
}
.produits .produits-cards .card .detail .card-bottom p:first-child {
  font-size: 1rem;
  color: green;
  font-weight: 600;
}
.produits .produits-cards .card .detail .description {
  font-size: 1rem;
  color: #243a3e;
  height: 70px;
  overflow: hidden;
}
.produits .produits-cards .card .detail .description p{
  color: #243a3e;
  height: 100%;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden

}
.produits .produits-cards .card .detail .fa.fa-cart-plus {
  font-size: 1.7rem;
  color: rgb(49, 78, 83);
  transition: .3s;
  box-shadow: var(--box-shadow);
}
.produits .produits-cards .card .detail .fa.fa-cart-plus:hover {
  font-size: 1.9rem;
}

/*  debut admin style */
.admin-page
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px auto;
  gap: 20px;
  width: 96vw;

}
.admin-main
{
  width: calc(100% - 240px);
  background: var(--color-light);
  border-radius: 4px;
  padding: 10px;
}
.admin-page .aside
{
  width: 200px;
}
/*  fin admin style */

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 767px) {
  .admin-page {
    justify-content: center;
    gap: 10px;

  }
  .admin-page .admin-main {
  }
  .admin-page .admin-menu {
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .header .nav {
    gap: 10px;
    margin-right: 10px;
  }
  .container .form {
    width: 100%;
  }

  .header .nav p:hover, .icon-log:hover {
    background-color: #bababb;
    cursor: pointer;
    border-radius: 4px;
  }
  .icon-log {
    /*padding: 10px;*/
  }
  .produits {
    width: 90vw;
  }
  .admin-page
  {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .admin-page .admin-main {
    width: 96%;
    margin-right: auto;
  }

  .admin-page .admin-menu
  {
    width: 91.5vw !important;
    text-align: center;
    margin-left: -28px !important;


  }
  aside .sidebar {
  height: auto;
  }

}
@media screen and (max-width: 500px) {
  .container .box {
    width: 380px;
    height: 550px;
    padding: 10px;
  }
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header .nav
  {
    flex-direction: column;
    align-items: center;

  }
  .header .icon
  {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .container .signup .form .row50 {
    gap: 5px;
  }
  .produits
  {
     flex-wrap: wrap;
     height: auto;
  }
  .produits .sidebar
  {
    width: 100%;
  }
  .produits .produits-cards {
    width: 100%;
  }

}
@media screen and (max-width: 410px) {
  .container .box {
    width: 310px;
    height: auto;
    padding: 10px;
  }
  .container .signup .form .row50
  {
    flex-direction: column;
  }



}













.title-color {
  color: #bababb;
}
.text-color {
  /* color: #99999c; */
  color: #243a3e;
}
.bg-color {
  background-color: #eaeaea;
  /* background-color: #e6e6e6; */

}


/*
 Start modal style
 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal .modal-content {
  position: absolute;
  width: auto;
  height: auto;
  background: rgb(226 227 240 / 1);
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
}
.modal.modal-show {
  animation: fadeIn 0.1s ease-in-out forwards;
}
.modal.modal-hide {
  animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}
.modal.modal-show .modal-content {
  animation: fadeInDown 0.3s ease-in-out forwards;
}
.modal.modal-hide .modal-content {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0 0.75rem;
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  user-select: none;
}
.modal-close:hover, .modal-close:focus {
  color: rgba(0,0,0,0.5);
}
.modal.modal-show .modal-content {
  animation: fadeInDown 0.3s ease-in-out forwards;
}
.modal.modal-hide .modal-content {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

/*
fin modal style
 */
