.logo {
  text-decoration: none;
  color: #314e53;
  margin: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
}

.logo span {
  color: blue;
  text-transform: uppercase;
  font-family: 'Bungee Inline', cursive;
  font-size: 2rem;
  text-shadow: -2px -2px #558ABB;
}
fa-icon {
  cursor: pointer;
  font-size: 1.2rem;
}


