<div class="container admin-page">
  <div class="admin-menu">
    <ul>
      <li>
        <a routerLink="/admin/">
          <span class="icon"><fa-icon [icon]="faHome"></fa-icon></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/produits">
          <span class="icon"><fa-icon [icon]="faShopify"></fa-icon></span>
          <span class="title">Produits</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/clients">
          <span class="icon"><fa-icon [icon]="faUserCircle"></fa-icon></span>
          <span class="title">Clients</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/commandes">
          <span class="icon"><fa-icon [icon]="faClipboardList"></fa-icon></span>
          <span class="title">Commandes</span>
        </a>
      </li>
    </ul>
  </div>
  <main class="admin-main">
    <p>admin-dashboard aside</p>
  </main>
</div>
