<div class="profile" id="profile">
  <div class="aside">
    <div class="row">
      <fa-icon [icon]="faUserCircle"></fa-icon>
      <p>Mes informations</p>
    </div>
    <div class="row">
      <fa-icon [icon]="faList"></fa-icon>
      <p>Mes commandes</p>
    </div>
  </div>
  <section id="profile-card" *ngIf="user">
    <div class="profile-info">
      <p>Nom: <span id="nom">{{ user.nom }}</span></p>
      <p>Prénom: <span id="prenom">{{ user.prenom }}</span></p>
      <p>Date de naissance: <span id="dateNaissance">{{ user.dateNaissance }}</span></p>
      <div>
        <p>Email: <span id="email">{{ user.email }}</span>
          <a (click)="updateEmail()">
            <fa-icon [icon]="faPencilRuler"></fa-icon>
          </a>
        </p>
      </div>
      <div [hidden]="displayEmail" class="inputBoxUpdate" id="updateEmail">
        <input #email id="emailInput" [value]="user.email" type="text" name="email" required="required">
        <span (click)="sendUpdateEmail(email.value)">Envoyer</span>
      </div>
      <div>
        <p>Adresse: <span id="adresse">{{ user.adresse }}</span>
          <a (click)="updateAddress()">
            <fa-icon [icon]="faPencilRuler"></fa-icon>
          </a>
        </p>
      </div>
      <div [hidden]="displayAddress" class="inputBoxUpdate" id="updateAddress">
        <input #address id="addressInput" [value]="user.adresse" type="text" name="adresse" required="required">
        <span (click)="sendUpdateAddress(address.value)">Envoyer</span>
      </div>
    </div>
  </section>
</div>
