<div class="admin-page">
    <app-admin-menu></app-admin-menu>
  <main class="admin-main">

    <div class="table-produits">
      <div class="top-table">
        <h3>List de produits</h3>
        <div class="sarch-add">
          <div class="search">
            <input type="text" name="keyword" id="search" #search (keyup)="searchProduits(search.value)" placeholder="Chercher...">
          </div>
          <div class="add-product" *ngIf="!updateAdd">
            <a (click)="toggleModal(undefined)"><fa-icon [icon]="faPlus"></fa-icon><span>Ajouter</span></a>
          </div>
        </div>
      </div>
      <table *ngIf="(produits$ | async) as products">
        <thead>
        <tr>
          <th>Image</th>
          <th>Nom</th>
          <th>Category</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let produit of products.content; let i=index;">
          <td style="width:60px; height:40px;"><img
            [src]="produit.imageUrl" alt="" height="25"></td>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.categorie ? produit.categorie.nom: ''   }}</td>
          <td class="designation">{{ produit.designation }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.stock }}</td>
          <td style="text-align: right;padding-right: 20px;">
           <fa-icon class="primary" (click)="toggleModal(produit)" [icon]="faSync"></fa-icon>
           <fa-icon class="danger-1" (click)="deleteProduct(produit.id)" style="margin-left: 15px" [icon]="faTrashAlt"></fa-icon>
          </td>
        </tr>
        </tbody>
        <tfoot>
           <tr>
             <td colspan="8">
               <div class="pagination" >
                 <div class="size">
                   <select id='size' [(ngModel)]="size" name='size' (ngModelChange)="changePageSize()">
                     <option value='10' [ngValue]="10">10</option>
                     <option value='20' [ngValue]="20">20</option>
                     <option value='50' [ngValue]="50">50</option>
                     <option value='50' [ngValue]="100">100</option>
                   </select>
                   <span class="icon"><fa-icon [icon]="faChevronDown"></fa-icon></span>
                 </div>
                 <div class="page">
                   <div> {{ (currentPage * size) + 1 + ' - ' + (((currentPage * size) + size) < totalElements ? ((currentPage * size) + size): (totalElements)) + ' de ' + totalElements }}</div>
                   <div>
                     <span [ngClass]="currentPage -1 < 0 ? 'disabled': ''">
                       <a (click)="changePage(-1)"><fa-icon [icon]="faChevronLeft"></fa-icon></a>
                     </span>
                     <span><a>{{ currentPage+1 }}</a></span>
                     <span [ngClass]="currentPage + 1 >= totalPages.length ? 'disabled': ''">
                       <a (click)="changePage(1)"><fa-icon [icon]="faChevronRight"></fa-icon></a>
                     </span>
                   </div>
                 </div>
               </div>
             </td>
           </tr>
        </tfoot>
      </table>


    </div>
  </main>
</div>
<div (click)="closeModal($event)" class="modal" id="modal">
  <div class="modal-content">
    <div (click)="toggleModal(undefined)" class="modal-close">&times;</div>
    <div class="form-produit">
      <form-produit [produit]="produit"
                    (toggleModal)="toggleModal(undefined)"></form-produit>
    </div>
</div>
</div>
