<div class="admin-page">
    <app-admin-menu></app-admin-menu>
  <main class="admin-main">
    <div *ngIf="updateAdd" class="form-produit">
      <form-produit [produit]="produit" (addUpdateEvent)="setUpdateAdd($event)"></form-produit>
    </div>
    <div class="table-produits">
      <div class="top-table">
        <h3>List de produits</h3>
        <div class="add-product" *ngIf="!updateAdd">
          <a (click)="onChangeProduit(undefined)"><fa-icon [icon]="faPlus"></fa-icon><span>Ajouter</span></a>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Category</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>Stock</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let produit of produits; let i=index;">
          <td>{{ produit.id }}</td>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.categorie ? produit.categorie.nom: '' }}</td>
          <td class="designation">{{ produit.designation }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.stock }}</td>
          <td class="primary"><fa-icon (click)="onChangeProduit(produit)" [icon]="faSync"></fa-icon></td>
          <td class="danger-1"><fa-icon style="padding-right: 5px;text-align: center" [icon]="faTrashAlt"></fa-icon></td>
        </tr>
        </tbody>
        <tfoot>
           <tr>
             <td colspan="6">
               <div class="pagination" >
                 <div class="size">
                   <select id='size' [(ngModel)]="size" name='size' (ngModelChange)="changePageSize()">
                     <option value='10' [ngValue]="10">10</option>
                     <option value='20' [ngValue]="20">20</option>
                     <option value='50' [ngValue]="50">50</option>
                     <option value='50' [ngValue]="100">100</option>
                   </select>
                   <span class="icon"><fa-icon [icon]="faChevronDown"></fa-icon></span>
                 </div>
                 <div class="page">
                   <div> {{ (currentPage * size) + 1 + ' - ' + (((currentPage * size) + size) < totalElements ? ((currentPage * size) + size): (totalElements)) + ' de ' + totalElements }}</div>
                   <div>
                     <span [ngClass]="currentPage -1 < 0 ? 'disabled': ''">
                       <a (click)="changePage(-1)"><fa-icon [icon]="faChevronLeft"></fa-icon></a>
                     </span>
                     <span><a>{{ currentPage+1 }}</a></span>
                     <span [ngClass]="currentPage + 1 >= totalPages.length ? 'disabled': ''">
                       <a (click)="changePage(1)"><fa-icon [icon]="faChevronRight"></fa-icon></a>
                     </span>
                   </div>
                 </div>
               </div>
             </td>
           </tr>
        </tfoot>
      </table>


    </div>
  </main>
</div>
